.verification-loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

.verification-spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    /* Apply the spin animation */
}

.verification-main-container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.verification-content {
    /* margin-top: 10px; */
    border-top: 1px solid black;


    /* padding-top: 5px; */
    /* margin-bottom: 1em; */
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
    and (orientation: portrait) {
        .verification-loading-spinner {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 9999;
        }

        .verification-spinner {
            border: 4px solid rgba(0, 0, 0, 0.3);
            border-top: 4px solid #3498db;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
            /* Apply the spin animation */
        }

        .verification-main-container {
            display: flex;
            flex-direction: column;
            max-height: 100vh;
        }

        .verification-content {
            /* margin-top: 10px; */
            border-top: 1px solid black;


            /* padding-top: 5px; */
            /* margin-bottom: 1em; */
        }

    }

/* For mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
    /* Your CSS styles for mobile devices */
}

/* For tablets and larger mobile devices (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Your CSS styles for tablets and larger mobile devices */
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}

/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}

/* ----------- Nexus 4 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 384px)
  and (device-height: 592px)
  and (-webkit-device-pixel-ratio: 2) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}

/* ----------- Nexus 5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 592px)
  and (-webkit-device-pixel-ratio: 3) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}

/* ----------- Nexus 6 and 6P ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 592px)
  and (-webkit-device-pixel-ratio: 4) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}

/* ----------- Windows Phone ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 480px)
  and (device-height: 800px) {

    .verification-loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
    }

    .verification-spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        /* Apply the spin animation */
    }

    .verification-main-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .verification-content {
        /* margin-top: 10px; */
        border-top: 1px solid black;


        /* padding-top: 5px; */
        /* margin-bottom: 1em; */
    }

}
